@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Log in or register</h3>
                        <p class="card-text">To check out user managmet implementation.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Click on Orders</h3>
                        <p class="card-text">To check out CRUD operations, validation, data binding and Entity Framework implementation.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>